# PlatformIO build system
smart-delivery-bot/.pio/
smart-delivery-bot/.pioenvs/
smart-delivery-bot/.build/
smart-delivery-bot/*.elf
smart-delivery-bot/*.bin
smart-delivery-bot/*.hex
smart-delivery-bot/*.map
smart-delivery-bot/test

smart-delivery-bot-module-moter/.pio/
smart-delivery-bot-module-moter/.pioenvs/
smart-delivery-bot-module-moter/.build/
smart-delivery-bot-module-moter/*.elf
smart-delivery-bot-module-moter/*.bin
smart-delivery-bot-module-moter/*.hex
smart-delivery-bot-module-moter/*.map
smart-delivery-bot-module-moter/test

smart-delivery-display-stand/.pio/
smart-delivery-display-stand/.pioenvs/
smart-delivery-display-stand/.build/
smart-delivery-display-stand/*.elf
smart-delivery-display-stand/*.bin
smart-delivery-display-stand/*.hex
smart-delivery-display-stand/*.map
smart-delivery-display-stand/test

# Compiled object files
smart-delivery-bot/*.o
smart-delivery-bot/*.obj
smart-delivery-bot/*.a
smart-delivery-bot/*.lib

smart-delivery-bot-module-moter/*.o
smart-delivery-bot-module-moter/*.obj
smart-delivery-bot-module-moter/*.a
smart-delivery-bot-module-moter/*.lib

smart-delivery-display-stand/*.o
smart-delivery-display-stand/*.obj
smart-delivery-display-stand/*.a
smart-delivery-display-stand/*.lib

# Core dumps
smart-delivery-bot/core

smart-delivery-bot-module-moter/core

smart-delivery-display-stand/core

# DS_Store (macOS)
.DS_Store
smart-delivery-bot/.DS_Store

smart-delivery-bot-module-moter/.DS_Store

smart-delivery-display-stand/.DS_Store

# VSCode / JetBrains IDE settings
smart-delivery-bot/.vscode/
smart-delivery-bot/.idea/

smart-delivery-bot-module-moter/.vscode/
smart-delivery-bot-module-moter/.idea/

smart-delivery-display-stand/.vscode/
smart-delivery-display-stand/.idea/


# Python bytecode (if you use scripts)
smart-delivery-bot/__pycache__/
smart-delivery-bot/*.pyc

smart-delivery-bot-module-moter/__pycache__/
smart-delivery-bot-module-moter/*.pyc

smart-delivery-display-stand/__pycache__/
smart-delivery-display-stand/*.pyc

# Library storage (optional)
smart-delivery-bot/.pylibs/

smart-delivery-bot-module-moter/.pylibs/

smart-delivery-display-stand/.pylibs/

#CLion IDE
smart-delivery-bot/.idea/

smart-delivery-bot-module-moter/.idea/

smart-delivery-display-stand/.idea/